@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca:wght@200&display=swap');

* {
    padding: 0px;
    margin: 0px;

}

:root {
    --white: hsla(0, 0%, 100%, 0.75);
    --clr-bright-orange: hsl(31, 77%, 52%);
    --clr-dark-cyan: hsl(184, 100%, 22%);
    --clr-very-dark-cyan: hsl(179, 100%, 13%);
    --clr-transparent-white: hsla(0, 0%, 100%, 0.75);
    --clr-very-light-grey: hsl(0, 0%, 95%);
}




.container {
    color: hsla(0, 0%, 100%, 0.75);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 70px;
    padding: 30px;
}




.sedan,
.suv,
.lux {
    width: 200px;
    height: 320px;
    padding: 35px;
}


button {
    margin-top: 65px;
    margin-left: 5px;
    padding: 10px 25px;
    border-color: var(--white);
    border-radius: 30px;
    border-style: solid;
    font-family: "Lexend Deca";
    font-weight: 600;
}


.suv .button {
    color: hsl(184, 100%, 22%);
}

.lux .button {
    color: hsl(179, 100%, 13%);
}

.sedan .button {
    color: hsl(31, 77%, 52%);
}

button:hover,
button:active {
    background-color: hsla(0, 0%, 100%, 0.75);
    cursor: pointer;

}

p {
    font-family: "Lexend Deca";
}

h2 {
    font-family: "Big Shoulders Display";
    margin-bottom: 20px;
}

img {
    margin-bottom: 20px;
}

.suv {
    background-color: hsl(184, 100%, 22%);
}

.sedan {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
}

.lux {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
}

@media (max-width: 760px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sedan {
        border-radius: 10px 10px 0 0;
    }

    .lux {
        border-radius: 0 0 10px 10px;
    }
}